<% include ../partials/header.ejs %>
<!-- CONTENT PAGE FOR ABOUT -->
<div class="container text-center">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
        <br/>
          <h1><%= title %> Me</h1>
          <br/>
          <p>Hello, my name is James Kennedy. I am a student of Centennial College earning my advanced diploma this coming May in Software Engineering Technology – Interactive Gaming. Over my years at Centennial I have learned to develop my skills in game development by using tools such as Unity, Visual Studio, and Android Studio, to create games and applications using C#, JavaScript, Typescript, and HTML. While creating our applications at Centennial, we are encouraged to work with other developers which allowed me experience in working with a team and often taking on leadership roles. Through Centennial I have been given opportunities to work alongside major industry partners such as Samsung to develop an android application that can send print, scan, and copy commands to their MX7 Printer. As well as with Blobia Inc. to create a background service that will track an android device using GPS.</p><br/>
          <p>If you are looking for someone with my skillset please contact me by any method in the "Contact" page.<p/>
          <br/><br/><br/>
        </div>
      </div>
    </div>
<% include ../partials/footer.ejs %>
