<% include ../partials/header.ejs %>
<!-- CONTENT PAGE FOR CONTACT -->
    <div class="container text-center">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
        <br/><br/><br/><br/>
          <h1><%= title %></h1>
          <br/>
          <p>Phone: 905-995-8985</p>
          <p>E-mail: Jkennedy1x@gmail.com</p>
          <p>Address: 267 Kaiser Cres, Oshawa ON, L1G 4A2</p>
          <br/><br/><br/><br/><br/><br/>
        </div>
      </div>
    </div>
<% include ../partials/footer.ejs %>
